@font-face {
  font-family: "Arial Rounded MT Bold";
  src: url(ARLRDBD.ttf);
}

body {
  background: #F1ECCB;
  font-family: "Arial Rounded MT Bold";
  font-weight: bold;
}

.header {
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__monterey {
  height: 100%;
}

.header__blathers {
  height: 72px;
  position: relative;
  top: 20px;
  left: -15px;
  transform: scaleX(-1);
}

.caret {
  height: 16px;
  transform: scaleY(-1);
  transition: transform ease 0.25s;
}

.caret.flipped {
  transform: scaleY(1);
}

.exhibit {
  border-bottom: 2px solid #5875CE;
}

.exhibit__header {
  display: flex;
  height: 64px;
  align-items: center;
  background-color: #D4FEE5;
  justify-content: space-between;
  padding: 0 15px;
}

.exhibit:last-of-type {
  border-bottom: 0;
}

.exhibit__contents {
  height: 0;
  overflow: hidden;
  background: #83DADC;
}

.exhibit__contents.open {
  height: auto;
  padding: 3px;
  border-bottom: 0;
}

.entry {
  background: #EEE3B5;
  border: 2px solid #9F9770;
  border-bottom: 0;
}

.entry__header {
  display: flex;
  height: 64px;
  align-items: center;
}

.entry:first-of-type {
  border-radius: 15px 15px 0 0;
}

.entry:first-of-type .entry__header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.entry:last-of-type {
  border-bottom: 2px solid #9F9770;
}

.entry:last-of-type,
.entry:last-of-type .entry__blurb {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.entry__image {
  margin: 0 10px;
  height: 64px;
}

.entry__spacer {
  flex-grow: 1;
}

.entry__button {
  height: 47px;
  width: 47px;
  border-radius: 24px;
  margin: 0 10px;
  border: none;
  outline: none;
  background: #FEEFCE;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.entry__blurb {
  height: 0;
  overflow: hidden;
  background: #d6cba1;
}

.entry__blurb.open {
  height: auto;
  padding: 10px;
  border-top: 2px solid #9F9770;
  border-bottom: 0;
}

.entry__variants {
  font-size: 10px;
  padding-top: 10px;
}

.entry__joke {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.entry__blathers {
  display: flex;
}

.blathers {
  height: 36px;
  position: relative;
  left: -6px;
}
